[submodule "actions/data/src/3rdparty/mINI"]
	path = actions/data/src/3rdparty/mINI
	url = https://github.com/pulzed/mINI.git
[submodule "backend/include/backend/3rdparty/scope_guard"]
	path = backend/include/backend/3rdparty/scope_guard
	url = https://github.com/ricab/scope_guard.git
[submodule "gui/src/3rdparty/singleapplication"]
	path = gui/src/3rdparty/singleapplication
	url = https://github.com/itay-grudev/SingleApplication.git
