[submodule "actions/data/src/3rdparty/mINI"]
	path = actions/data/src/3rdparty/mINI
	url = https://github.com/pulzed/mINI.git
[submodule "gui/src/3rdparty/breakpad"]
	path = gui/src/3rdparty/breakpad
	url = https://chromium.googlesource.com/breakpad/breakpad
[submodule "actiona/src/3rdparty/breakpad"]
	path = actiona/src/3rdparty/breakpad
	url = https://chromium.googlesource.com/breakpad/breakpad
[submodule "actiona/3rdparty/QDarkStyleSheet"]
	path = actiona/3rdparty/QDarkStyleSheet
	url = https://github.com/ColinDuquesnoy/QDarkStyleSheet
[submodule "actiontools/3rdparty/qtjsapi"]
	path = actiontools/3rdparty/qtjsapi
	url = https://github.com/Jmgr/qtjsapi.git
